[defaults]
inventory = ./inventory.ini
host_key_checking = True
roles_path = /Users/kovalevski/kubespray/roles
library = /Users/kovalevski/kubespray/library
callback_plugins = /Users/kovalevski/kubespray/plugins/callback
filter_plugins = /Users/kovalevski/kubespray/plugins/filter
action_plugins = /Users/kovalevski/kubespray/plugins/action
connection_plugins = /Users/kovalevski/kubespray/plugins/connection
module_utils = /Users/kovalevski/kubespray/module_utils
deprecation_warnings = False
timeout = 60
interpreter_python = auto_silent

[ssh_connection]
pipelining = False
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=5 -o ConnectTimeout=30 -o ServerAliveInterval=30 -o ServerAliveCountMax=5
